---
import BackToPrev from "@components/BackToPrev.astro";
import Link from "@components/Link.astro";
import SectionHeading from "@components/SectionHeading.astro";
import PageLayout from "@layouts/PageLayout.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const projects = await getCollection("projects");

  return projects.map((project) => ({
    params: { slug: project.slug },
    props: { project },
  }));
}

const { project } = Astro.props;
// const { Content } = await project.render();
---

<PageLayout>
  <section>
    <BackToPrev href="/projects"> Back to Projects </BackToPrev>

    <!-- Project Header -->
    <div class="space-y-0.5 my-10" id="header">
      <!-- Project Date -->
      <p class="text-xs md:text-sm text-subContent">{project.data.date}</p>

      <!-- Project Heading -->
      <h1 class="text-xl md:text-2xl font-bold text-foreground tracking-wide">
        {project.data.title}
      </h1>

      <!-- Project URL -->
      {
        (project.data.demoURL || project.data.repoURL) && (
          <nav class="flex gap-1 text-subContent text-sm md:text-base font-medium">
            {project.data.demoURL && (
              <Link
                href={project.data.demoURL}
                class="text-subContent hover:text-foreground"
                underline
                external
              >
                demo
              </Link>
            )}
            {project.data.demoURL && project.data.repoURL && <span>/</span>}
            {project.data.repoURL && (
              <Link
                href={project.data.repoURL}
                class="text-subContent hover:text-foreground"
                underline
                external
              >
                github
              </Link>
            )}
          </nav>
        )
      }
    </div>

    <!-- Project Image -->
    <img
      src={project.data.banner}
      alt={project.data.title}
      loading="lazy"
      decoding="async"
      class="w-full rounded-lg object-cover"
    />

    <!-- Project description -->
    <div class="mt-5 mb-5">
      <!-- Project Content -->
      <div class="space-y-2 md:space-y-4">
        {
          project.data.projectContent &&
            project.data.projectContent.map((line) => (
              <p class="text-content text-justify text-sm md:text-base ">
                {line}
              </p>
            ))
        }
      </div>

      <!-- Project Skills badge -->
      <div class="flex gap-2 mt-4">
        {
          project.data.tech.map((skill) => (
            <span
              class="text-xs md:text-sm px-2 py-0.5 border text-content 
           border-btn-hover-border bg-btn-hover
            rounded-full"
            >
              {skill}
            </span>
          ))
        }
      </div>
      <!-- Project Features -->
      <div class="mt-10">
        <SectionHeading headingText="Features" />
        <ul class="flex flex-col gap-2">
          {
            project.data.features &&
              project.data.features.map((feature) => (
                <li class="text-content text-sm md:text-base">✅ {feature}</li>
              ))
          }
        </ul>
      </div>

      <!-- <article class="prose max-w-none">
      <Content />
    </article> -->
    </div>
  </section>
</PageLayout>
